In [1]:
import pandas as pd
import numpy as np
import math
import datetime as dt

In [3]:
br = pd.read_csv("bronx.csv")

In [5]:
# determine avg time between incident and dispatch for real data 
calltime = []
for row in br['INCIDENT_DATETIME']:
    idt = row.replace("T", " ")
    calltime.append(dt.datetime.strptime(idt, '%Y-%m-%d %H:%M:%S.%f'))
    
calltime.reverse() #because the data is saved from 12/31/2018-1/1/2015

dispatchtime = []
for row in br['FIRST_ASSIGNMENT_DATETIME']:
    if type(row) == str:
        idt = row.replace("T", " ")
        dispatchtime.append(dt.datetime.strptime(idt, '%Y-%m-%d %H:%M:%S.%f'))
    else:
        dispatchtime.append("del")
dispatchtime.reverse()

In [6]:
413/613*394/10
413*.3/10 # num ambulances for bronx

12.389999999999999

### determine total transit time for an ambulance dispatch -> arrival

In [8]:
br.columns

Index(['Unnamed: 0', 'CAD_INCIDENT_ID', 'INCIDENT_DATETIME',
       'INITIAL_CALL_TYPE', 'INITIAL_SEVERITY_LEVEL_CODE', 'FINAL_CALL_TYPE',
       'FINAL_SEVERITY_LEVEL_CODE', 'FIRST_ASSIGNMENT_DATETIME',
       'VALID_DISPATCH_RSPNS_TIME_INDC', 'DISPATCH_RESPONSE_SECONDS_QY',
       'FIRST_ACTIVATION_DATETIME', 'FIRST_ON_SCENE_DATETIME',
       'VALID_INCIDENT_RSPNS_TIME_INDC', 'INCIDENT_RESPONSE_SECONDS_QY',
       'INCIDENT_TRAVEL_TM_SECONDS_QY', 'FIRST_TO_HOSP_DATETIME',
       'FIRST_HOSP_ARRIVAL_DATETIME', 'INCIDENT_CLOSE_DATETIME',
       'HELD_INDICATOR', 'INCIDENT_DISPOSITION_CODE', 'BOROUGH',
       'INCIDENT_DISPATCH_AREA', 'ZIPCODE', 'POLICEPRECINCT',
       'CITYCOUNCILDISTRICT', 'COMMUNITYDISTRICT', 'COMMUNITYSCHOOLDISTRICT',
       'CONGRESSIONALDISTRICT', 'REOPEN_INDICATOR', 'SPECIAL_EVENT_INDICATOR',
       'STANDBY_INDICATOR', 'TRANSFER_INDICATOR'],
      dtype='object')

In [9]:
# time from dispatch to on scene
np.mean(br['INCIDENT_TRAVEL_TM_SECONDS_QY'])/60

8.257209410905723

In [11]:
# dispatch to close

In [12]:
br[['FIRST_ASSIGNMENT_DATETIME', 'INCIDENT_CLOSE_DATETIME']]

        FIRST_ASSIGNMENT_DATETIME  INCIDENT_CLOSE_DATETIME
0         2018-12-31T23:57:16.000  2019-01-01T01:04:48.000
1         2018-12-31T23:56:02.000  2019-01-01T01:07:55.000
2         2018-12-31T23:52:12.000  2019-01-01T00:59:12.000
3         2018-12-31T23:54:00.000  2019-01-01T00:47:27.000
4         2018-12-31T23:58:53.000  2019-01-01T01:40:56.000
5         2018-12-31T23:51:48.000  2019-01-01T00:03:40.000
6         2018-12-31T23:58:36.000  2019-01-01T01:13:06.000
7         2018-12-31T23:48:50.000  2019-01-01T01:34:33.000
8         2018-12-31T23:44:39.000  2019-01-01T00:12:34.000
9         2018-12-31T23:43:07.000  2019-01-01T01:23:39.000
10        2018-12-31T23:42:01.000  2019-01-01T01:36:42.000
11        2018-12-31T23:39:26.000  2019-01-01T00:59:15.000
12        2018-12-31T23:38:43.000  2019-01-01T00:44:38.000
13        2018-12-31T23:38:59.000  2019-01-01T01:09:58.000
14        2018-12-31T23:37:34.000  2019-01-01T01:08:33.000
15        2018-12-31T23:37:02.000  2019-01-01T00:36:45.000
16        2018-12-31T23:36:46.000  2019-01-01T00:42:08.000
17        2018-12-31T23:36:02.000  2019-01-01T00:54:24.000
18        2018-12-31T23:34:30.000  2019-01-01T01:15:15.000
19        2018-12-31T23:33:55.000  2019-01-01T00:14:30.000
20        2018-12-31T23:33:20.000  2019-01-01T00:49:34.000
21        2018-12-31T23:32:41.000  2019-01-01T00:49:02.000
22        2018-12-31T23:32:28.000  2018-12-31T23:58:33.000
23        2018-12-31T23:31:41.000  2018-12-31T23:53:21.000
24        2018-12-31T23:27:14.000  2019-01-01T00:38:29.000
25        2018-12-31T23:27:06.000  2018-12-31T23:58:24.000
26        2018-12-31T23:26:05.000  2019-01-01T00:17:04.000
27        2018-12-31T23:25:42.000  2018-12-31T23:44:23.000
28        2018-12-31T23:21:20.000  2019-01-01T00:12:12.000
29        2018-12-31T23:20:31.000  2019-01-01T00:23:27.000
...                           ...                      ...
1367679   2015-01-01T00:48:32.000  2015-01-01T02:02:27.000
1367680   2015-01-01T00:46:32.000  2015-01-01T01:53:41.000
1367681   2015-01-01T00:45:12.000  2015-01-01T01:08:54.000
1367682   2015-01-01T00:44:34.000  2015-01-01T02:03:52.000
1367683   2015-01-01T00:43:01.000  2015-01-01T01:17:34.000
1367684   2015-01-01T00:43:11.000  2015-01-01T00:59:59.000
1367685   2015-01-01T00:42:04.000  2015-01-01T01:00:52.000
1367686   2015-01-01T00:39:26.000  2015-01-01T01:46:12.000
1367687   2015-01-01T00:40:02.000  2015-01-01T02:20:04.000
1367688   2015-01-01T00:36:17.000  2015-01-01T01:54:14.000
1367689   2015-01-01T00:35:21.000  2015-01-01T01:00:37.000
1367690   2015-01-01T00:33:28.000  2015-01-01T01:23:35.000
1367691   2015-01-01T00:32:21.000  2015-01-01T00:55:48.000
1367692   2015-01-01T00:32:03.000  2015-01-01T00:56:23.000
1367693   2015-01-01T00:30:36.000  2015-01-01T02:06:56.000
1367694   2015-01-01T00:29:49.000  2015-01-01T02:00:24.000
1367695   2015-01-01T00:29:41.000  2015-01-01T00:51:25.000
1367696   2015-01-01T00:26:23.000  2015-01-01T01:21:27.000
1367697   2015-01-01T00:21:04.000  2015-01-01T01:23:11.000
1367698   2015-01-01T00:20:15.000  2015-01-01T01:01:36.000
1367699   2015-01-01T00:16:25.000  2015-01-01T01:24:02.000
1367700   2015-01-01T00:15:20.000  2015-01-01T00:53:14.000
1367701   2015-01-01T00:13:53.000  2015-01-01T01:45:06.000
1367702   2015-01-01T00:11:46.000  2015-01-01T01:15:12.000
1367703   2015-01-01T00:10:14.000  2015-01-01T01:00:17.000
1367704   2015-01-01T00:09:15.000  2015-01-01T01:38:54.000
1367705   2015-01-01T00:08:50.000  2015-01-01T01:01:18.000
1367706   2015-01-01T00:01:50.000  2015-01-01T00:23:57.000
1367707   2015-01-01T00:01:40.000  2015-01-01T01:16:53.000
1367708   2015-01-01T00:01:32.000  2015-01-01T00:54:05.000

[1367709 rows x 2 columns]

In [15]:
dispatchtime = []
for row in br['FIRST_ASSIGNMENT_DATETIME']:
    if type(row) == str:
        idt = row.replace("T", " ")
        dispatchtime.append(dt.datetime.strptime(idt, '%Y-%m-%d %H:%M:%S.%f'))
    else:
        dispatchtime.append("del")
dispatchtime.reverse()

closetime = []
for row in br['INCIDENT_CLOSE_DATETIME']:
    if type(row) == str:
        idt = row.replace("T", " ")
        closetime.append(dt.datetime.strptime(idt, '%Y-%m-%d %H:%M:%S.%f'))
    else:
        closetime.append("del")
closetime.reverse()

In [16]:
# clean to get rid of nans 
indsToDelete = [i for i, j in enumerate(dispatchtime) if j == 'del']
#len(indstodel)
for i in range(len(indsToDelete)-1,-1, -1):
    del dispatchtime[indsToDelete[i]]
    del closetime[indsToDelete[i]]
    
    
indsToDelete2 = [i for i, j in enumerate(closetime) if j == 'del']
for i in range(len(indsToDelete2)-1,-1, -1):
    del dispatchtime[indsToDelete2[i]]
    del closetime[indsToDelete2[i]]

In [17]:
print([i for i, j in enumerate(dispatchtime) if j == 'del'])
print([i for i, j in enumerate(closetime) if j == 'del'])

[]
[]

In [18]:
transittimes = [closetime[i] - dispatchtime[i] for i in range(len(closetime))]
avgtransittime = np.mean(transittimes)
avgtransittime.seconds/60

67.56666666666666

In [24]:
transitsecs = [x.seconds for x in transittimes]
np.std(transitsecs)/60

30.19335373635183